body {
	font-family: 'Roboto', sans-serif;
	line-height: 24px;
	font-weight: 400;
	background-color: #edf2f9;
	/* background: linear-gradient(to left, #9d33f3, #8d33f3); */
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}
.nav-link {
	border: none;
	padding: 12px 16px;
	border-radius: 4px;
	line-height: 24px;
	color: #31344b !important;
	margin: 0px 0px 8px;
	font-size: 18px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px, rgba(0, 0, 0, 0.1) 0px 10px 10px;
	text-align: center;
}
.nav-link.active {
	background-color: #0d6efd !important;
	color: #fff !important;
}
button:focus {
	outline: 0;
}

.nav-pills {
	background-color: #ecf0f3;
	box-shadow: #d1d9e6 4px 4px 10px 0px;
	color: #a0a5a8;
	padding: 20px;
}
.tab-content {
	background-color: #ecf0f3;
	box-shadow: #d1d9e6 4px 4px 10px 0px;
	color: #31344b;
	font-size: 15px;
	font-weight: 500;
	padding: 15px;
}
.bd-callout {
	padding: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	border-radius: 0.25rem;
	border-left: 0.25rem solid #5bc0de !important;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.text-field {
	position: relative;
}
.text-field label {
	display: inline-block;
	font-weight: 600;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 10px;
	background-color: #ecf0f3;
	padding: 1px 5px;
	font-size: 12px;
	transform: translateY(-50%);
	color: #6a5af9;
}
.text-field input {
	padding: 15px;
	display: block;
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	border: 1px solid #6a5af9;
	border-radius: 4px;
	background-color: transparent;
	color: #31344b;
}
textarea:focus,
input:focus {
	outline: none;
}
.button {
	color: #f9f9f9;
	padding: 13px 40px;
	border-radius: 30px;
	background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
	background-size: 200% 100%;
	background-position: 100% 0;
	transition: background-position 0.5s;
	cursor: pointer;
	font-weight: 500;
	line-height: 24px;
	outline: none;
	border: none;
	font-size: 16px;
	box-shadow: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5) 0px
		8px 24px;
}
.button:hover {
	background-position: 0 0;
}
.icon-res {
	color: #6a5af9;
	font-size: 25px;
	font-weight: 500;
	margin-right: 10px;
}
.mess {
	font-size: 18px;
	font-weight: 700;
	background: -webkit-linear-gradient(-45deg, #ffa63d, #ff3d77);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
::placeholder {
	color: #b2b2b2;
	opacity: 1;
}
.form-control {
	margin-top: 8px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	outline: none;
	font-size: 17px;
	border-color: #743ad5;
}
.text-style {
	font-size: 20px;
	color: #3cf0c5;
	font-weight: 600;
	background: -webkit-linear-gradient(-45deg, #ffa63d, #ff3d77);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
